[BISKIT/DOCK]
## The following options are only ckecked for their type
## use type-name if you want to enforce type conversion on a parameter
## example: 
## int-param1 = 10 creates a variable param1 of type int with value 10
## By contrast, param1 = 10 gives a variable param1 of type str with value '10'


[PATHS]
## The values of the following options neet to point to a valid file


[BINARIES]
## The values of the following options neet to point to a valid binary file


#### ToDo:
#### the following parameters need to move to their exe_*dat
####

## HEX: http://www.csd.abdn.ac.uk/hex/
hex_bin = hex  # invalid binary!
