## run from current directory:
## coverage biskit/test.py
## coverage report

[run]

source = biskit

## skip modules pulled in from third parties
omit =
     biskit/core/oldnumeric/*
     biskit/core/scientificIO/*
     biskit/gnuplot.py
     biskit/difflib_old.py


[report]

## skip certain methods and classes
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    raise
    class .+BiskitTest\):
    pass
