Source: biskit
Maintainer: Raik Gruenberg <raik.gruenberg@crg.es>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6), python-all-dev (>= 2.3.5-11), debhelper (>= 5.0.38), python-central (>= 0.5.6)
Standards-Version: 3.7.2
XS-Python-Version: >= 2.4, << 3.0

Package: python-biskit
Architecture: all
Depends: python-numpy, gnuplot, python-scipy, python-scientific, python (>= 2.4), python (<< 2.7), python-scipy, python-biopython
Recommends: plotutils, python-dev, libplot-dev, pvm, pvm-dev, pymol
Suggests: 
XB-Python-Version: ${python:Versions}
Provides: ${python:Provides}
Description: A Python platform for structural bioinformatics
 Biskit is a modular, object-oriented Python library for structural
 bioinformatics research. It facilitates the manipulation and analysis
 of macromolecular structures, protein complexes, and molecular
 dynamics trajectories. For efficient number crunching, Biskit objects
 tightly integrate with numpy. Biskit also offers a platform for the
 rapid integration of external programs and new algorithms into complex
 workflows. Calculations are thus often delegated to established
 programs like Xplor, Amber, Hex, Prosa, Fold-X, T-Coffee, Hmmer and
 Modeller; interfaces to further software can be added easily.

